$color-black: #000;
$color-black-light: #090909;
$color-white: #fff;
$color-primary: #ff375f;
$color-primary-dark: #d7415f;


$color-off-white: #e6e9ec;
$color-light-Gray: #989898;
$color-systemGray-1:#c7c7cc;
$color-systemGray-2: #8e8e93;
$color-systemGray-3: #100d0d;
$color-systemGray-4: #8a8a8a;


$color-gray-dark: #111111;


$default-font-size: 1.6rem;

//Border radious
$border-radius-small: 3px;
//Grid 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//DOTS

$bg-color: transparent;
$dot-color: $color-primary;

// Dimensions
$dot-size: 2px;
$dot-space: 18px;