.composition {
    position: relative;
    display: flex;
    transition-delay: .2s;
    &__photo {
        &:hover {
           transform: scale(1.05) translateY(-.5rem);
           z-index: 20;
          }
    &--p1{
        width: 60%;
        left: 0;
        top: 2rem;
        position: absolute;
        z-index: 2;
     }
    &--p2{
        width: 110%;
        left: 10%;
        right: 0;
        top: -2rem;
        position: absolute;
    }
    }
    
}

