.composition {
    position: relative;
    display: flex;
    &__photo {
        
   
    //     border-radius: 2px;
    //    position: absolute;
    //    z-index: 10;
    //    transition: all .2s;
    //    outline-offset: 2rem;
    &--p1{
        width: 60%;
        left: 0;
        top: 2rem;
        position: absolute;
        z-index: 2;
     }
    &--p2{
        width: 110%;
        left: 10%;
        right: 0;
        top: -2rem;
        position: absolute;
    }
    }
    
}

