.feature-box {
  @include respond(tab-port-max) {
    padding: 2.5rem 2.5rem;
    margin: 2rem 0 0;
    // width: 90%;
    
  }
  animation: fadein 4s;
  background-color: $color-systemGray-3;
  font-size: 1.5rem;
  padding: 8.5rem 5.5rem;
  text-align: left;
  border-radius: none;
  transition: all 0.2s;
  color: $color-primary;
  animation: fadeIn 3s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;

  &__icon {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    display: inline-block;
  }
  &--main {
    color: $color-white;
    background-color: $color-primary;
    font-size: 1.5rem;
    text-align: left;
    border-radius: none;
    &__icon-main {
      font-size: 4rem;
      margin-bottom: 0.5rem;
      display: inline-block;
      color: $color-white;
    }
  }
  &:hover {
    background-color: $color-primary;
  }
  &:hover > * {
    color: $color-white;
  }
}
