footer {
  padding: 5rem 0 0 0;
  background-color: $color-gray-dark;
  position: relative;

  .footer-content {
    a {
      &:hover {
        color: $color-primary;
      }
    }
    p,
    i,
    a {
      color: $color-light-Gray;
      font-size: 2rem;
      text-decoration: none;
    }
  }
  .go-to-top {
    margin: 0 auto;
    text-align: center;
    width: 38px;
    line-height: 38px;
    height: 38px;
    background: #000000;
    border-radius: 50%;
    color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    .arrow-icon {
      font-size: 3.5rem;
      text-align: center;
    }
  }
  .terms-box {
    border-top: 1px solid $color-systemGray-3;
    padding: 1rem 0;

    p {
      color: $color-light-Gray;
      font-size: 2rem;
    }
  }
}

.social-media {
  &__link {
    display: inline-block;
    font-size: 1rem;
    list-style: none;
    border: 1px solid $color-primary;
    border-radius: 100%;
    padding: 1rem;
    margin: 0.2rem;
    text-align: center;
    transition: 0.04s;
    text-decoration: none;
    &:hover {
      background-color: $color-primary;
      &__icon {
        color: $color-light-Gray;
        font-size: 1.5rem;
      }
    }
  }
}
