*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
       // Defines what 1rem is
    /* // to get 16px do 10/16 = 62.5% */
    scroll-behavior: smooth;
}

/* Project wide font definitions  */

body {
    box-sizing: border-box;
}