.header {
  height: 95vh;
  background-color: $color-black;
  padding: 15rem 0 0 0;
  background-size: cover;
  position: relative;
  &__text-box {
  }

  &__hero-box {
    animation: fadeIn 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  &__hero-box--img {
    height: 70rem;
    margin-top: -15rem;
  }
}
.header-about {
  height: 60vh;
  background-color: $color-black;
  padding: 15rem 0 0 0;
  // background-image: url(../img/jump3.png);
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba($color-primary, 0.801),
  //   rgba($color-black, 0.801)),
  //   url(../img/jump2.jpg);
  // background-size: cover;
  // background-position: center;
  // position: relative;
  // opacity:
  // -webkit-filter: grayscale(100%);
  // filter: gray;
  // background-size: cover;
  // position: relative;
  img {
    height: 50rem;
    //    -webkit-filter: grayscale(100%);
    // filter: gray;
  }
}
.header-services {
  height: 40vh;
  background-image: url(../img/header-services.jpg);
  // filter: brightness(50%);
  // -webkit-filter: grayscale(100%);
  // // filter: gray;
  background-size: cover;
  position: relative;
}

.section-feature {
  margin-top: -50rem;
}

.section-about {
  padding: 10rem 0 5rem 0;
  background-color: $color-black;
  background-size: cover;
  position: relative;
}

.section-services {
  padding: 0 0 10rem 0;
  background-color: $color-black;
  background-size: cover;
  position: relative;
}

.section-projects {
  padding: 10rem 0 5rem 0;
  background-color: $color-black;
  .project-box {
    margin-top: 10rem;
  }
  .project__img {
    height: 27rem;
    width: 25rem;
    border-radius: 5px;
    position: absolute;
    &--1 {
      top: 5%;
      right: -5%;
      z-index: 10;
    }
    &--2 {
      top: 20%;
      right: 25%;
      z-index: 9;
    }
    &--3 {
      top: 35%;
      z-index: 8;
      right: 45%;
    }

    &:hover {
      transform: scale(1.05) translateY(-.5rem);
      z-index: 20;
     }
  }
}
.section-pricing {
  padding: 5rem 0 15rem 0;
  background-color: $color-black;
}

.section-testimonial {
  padding: 5rem 0 10rem 0;
  background-color: $color-black;
  position: relative;

  img {
    height: 500px;
    width: 500px;
  }
}

.section-contact {
  padding: 5rem 0 5rem 0;
  background-color: $color-black;
  position: relative;
}

//*************** Banners ****************************//
.banner {
  background-color: $color-gray-dark;
  color: $color-white;
  text-align: center;
  padding: 4rem;
}

//*****************Home Icons************************///

.hr-box {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10rem 0 0 0;
}
.hr-line {
  width: 5px;
  height: 65px;
  display: inline-block;
  color: $color-black;
  border: 0;
  border-left: 1px solid $color-primary;
}

.circle {
  border: 2rem solid $color-primary;
  border-radius: 100%;

  width: 10rem;
  height: 10rem;
  z-index: 86;
  &--1 {
    position: absolute;
    left: 62%;
    // bottom: 10%;
    top: 5%;
  }
}

//************* DOT BOXES *************************//

.dot-box {
  position: relative;

  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  height: 35%;
  width: 73%;
  margin: 0 auto;
}


.dot-box-small{
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  height: 12rem;
  width: 12rem;
  z-index: 10000000;
}