.navigation {
  background-color: $color-black;
  padding: 2rem 2.5rem;
  &__nav {
    display: flex;
    justify-content: space-around;
    color: $color-black;
    list-style: none;
  }

  &__logo-box {
    // position: absolute;
    // top: 4rem;
    // left: 4rem;
  }
  &__logo {
    height: 4.5rem;
  }
  &__list {
    list-style: none;
    color: $color-black;
    display: flex;
  }
  &__item {
  }

  &__link {
    &:link,
    &:visited {
      font-weight: 400;
      color: $color-white;
      font-size: 2rem;
      text-decoration: none;

      margin: 2rem;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      border-bottom: 0.3rem solid $color-primary;
      transition: all 0.4s;
    }
  }
}
